/*Hello*/

body {
  background-color: #a3bcb6;
}

html {
  scroll-behavior: smooth;
}

.menu-btn {
  position: fixed;
  display: flex;
  right: 25px;
  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger {
  width: 50px;
  height: 6px;
  background: #4f4846;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before,
.menu-btn_hamburger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before {
  transform: translateY(-16px);
}

.menu-btn_hamburger::after {
  transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_hamburger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.6fr 1fr 3fr 0.3fr 1fr 1fr;
  gap: 0.1rem;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Tahoma, sans-serif;
  color: #3c403d;
  text-rendering: optimizeLegibility;
  grid-template-areas:
    "navBar navBar navBar navBar"
    "sideBar main main main"
    "content1 content2 content2 content3"
    "projects projects projects projects"
    "content4 content4 content5 content5"
    "budgetDesc budgetDesc gisDesc gisDesc"
    "content6 content6 content7 content7"
    "diceDesc diceDesc stripsDesc stripsDesc"
    "content8 content8 content9 content9"
    "algorithmDesc algorithmDesc logisimDesc logisimDesc"
    ". content10 content10 ."
    ". raceDesc raceDesc ."
    "resume resume resume resume"
    ". contact-me contact-me ."
    "footer footer footer footer";
}

#contact-me {
  grid-area: contact-me;
  padding-top: 10%;
  padding-bottom: 10%;
}

#contact-me h1 {
  grid-area: contact-me;
  padding-top: 5%;
  color: #4f4846;
}

input[type="text"],
select,
textarea {
  font-family: Calibre, "San Francisco", "SF Pro Text", Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid#266150;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #266150;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #adaeaf;
}

#navBar {
  grid-area: navBar;
  padding-top: 20px;
}

#navBar img {
  float: right;
  height: 50px;
  padding-right: 30px;
}

#sideBar {
  grid-area: sideBar;
  padding-bottom: 110px;
  padding-top: 10%;
  background-color: #a3bcb6;
}

#sideBar img {
  float: right;
  height: 200px;
  border-radius: 5%;
  opacity: 90%;
  border-radius: 5%;
  box-shadow: 10px 10px #4f4846;
  animation: picLoad 400ms;
}

/*Learning how to use animations in CSS*/

@keyframes picLoad {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

#main {
  grid-area: main;
  background-color: #a3bcb6;
}

#main h1 {
  margin-left: 10%;
  margin-top: 9%;
}

#main p {
  margin-left: 10%;
}

#content1 {
  grid-area: content1;
  background-color: #fdf8f5;
  margin: -10px;
}

#content1 h1 {
  float: right;
  padding-right: 30px;
}

#content2 {
  grid-area: content2;
  background-color: #fdf8f5;
  margin: -10px;
}

#content2 p {
  padding: 15px;
  font-size: 18px;
}

#content2 li {
  list-style-type: square;
  padding-left: 50px;
  font-size: 18px;
}

#content9 {
  grid-area: content9;
}

#content9 p {
  padding: 15px;
  font-size: 18px;
}

#content9 li {
  list-style-type: square;
  padding-left: 50px;
  font-size: 18px;
}

#content10 {
  grid-area: content10;
}

#content10 p {
  padding: 15px;
  font-size: 18px;
}

#content10 li {
  list-style-type: square;
  padding-left: 50px;
  font-size: 18px;
}

#content3 {
  grid-area: content3;
  background-color: #fdf8f5;
  margin: -10px;
}

#content3 img {
  padding-left: 60px;
  display: block;
  height: 60px;
  margin-top: 40px;
  margin-left: 20px;
  opacity: 90%;
  border-radius: 1%;
  animation: socialLoad 500ms;
}

@keyframes socialLoad {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}

#content8 img {
  height: 200px;
  margin-top: 40px;
  margin-left: 20px;
  opacity: 90%;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#projects {
  grid-area: projects;
  padding-top: 50px;
  padding-bottom: 20px;
}

#projects h1 {
  text-align: center;
}

#budgetDesc {
  grid-area: budgetDesc;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: auto;
}

#gisDesc {
  grid-area: gisDesc;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: auto;
}

#diceDesc {
  grid-area: diceDesc;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: auto;
}

#algorithmDesc {
  grid-area: algorithmDesc;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: auto;
}

#logisimDesc {
  grid-area: logisimDesc;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: auto;
}

#raceDesc {
  grid-area: raceDesc;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: auto;
  padding-bottom: 70px;
}

#stripsDesc {
  grid-area: stripsDesc;
  padding-left: 20px;
  padding-right: 20px;
  width: 400px;
  margin: auto;
}

#content4 {
  grid-area: content4;
  display: flex;
}

@keyframes content4 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content5 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content6 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content7 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content8 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content9 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content10 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#content5 {
  grid-area: content5;
  display: flex;
}

#content6 {
  grid-area: content6;
  display: flex;
}

#content7 {
  grid-area: content7;
  display: flex;
}

#content8 {
  grid-area: content8;
  display: flex;
}

#content9 {
  grid-area: content9;
  display: flex;
}

#content10 {
  grid-area: content10;
  display: flex;
}

#content4 img {
  padding: 5px;
  height: 250px;
  margin: auto;
  background-color: #4f4846;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#content8 img {
  padding: 5px;
  height: 250px;
  margin: auto;
  background-color: #4f4846;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#content4 img:hover {
  opacity: 1;
  transition-duration: 200ms;
}

#content4 a {
  padding: 5px;
  height: 250px;
  margin: auto;
}

#content5 img {
  padding: 5px;
  height: 250px;
  margin: auto;
  background-color: #4f4846;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#content5 img:hover {
  opacity: 1;
  transition-duration: 200ms;
}

#content8 img:hover {
  opacity: 1;
  transition-duration: 200ms;
}

#content5 a {
  padding: 5px;
  height: 250px;
  margin: auto;
}

#content6 img {
  padding: 5px;
  height: 250px;
  margin: auto;
  background-color: #4f4846;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#content6 img:hover {
  opacity: 1;
  transition-duration: 200ms;
}

#content7 img {
  padding: 5px;
  height: 250px;
  margin: auto;
  background-color: #4f4846;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#content7 a {
  padding: 5px;
  height: 250px;
  margin: auto;
}

#content7 img:hover {
  opacity: 1;
  transition-duration: 200ms;
}

#content9 img {
  padding: 5px;
  height: 250px;
  margin: auto;
  background-color: #4f4846;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#content9 a {
  padding: 5px;
  height: 250px;
  margin: auto;
}

#content9 img:hover {
  opacity: 1;
  transition-duration: 200ms;
}

#content10 img {
  padding: 5px;
  height: 250px;
  margin: auto;
  background-color: #4f4846;
  opacity: 0.9;
  border-radius: 1%;
  box-shadow: 10px 10px #266150;
}

#content10 a {
  padding: 5px;
  height: 250px;
  margin: auto;
}

#content10 img:hover {
  opacity: 1;
  transition-duration: 200ms;
}

#resume {
  grid-area: resume;
  display: flex;
  padding-top: 120px;
  background-color: #fdf8f5;
  padding-bottom: 120px;
  margin: -10px;
  justify-content: center;
}

#resume img {
  height: 700px;
  margin: 20px;
  margin: auto;
  border-radius: 1%;
  background-color: #4f4846;
  box-shadow: 10px 10px #266150;
}

.resumeBtn {
  display: none;
}

#footer {
  grid-area: footer;
}

#footer p {
  text-align: center;
  padding-top: 5px;
}

.side_nav {
  font-family: Calibre, "San Francisco", "SF Pro Text", Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
  width: 200px;
  height: 100vh;
  position: fixed;
  right: -200px;
  top: 0px;
  background: #3c403d;
  z-index: 2;
  padding-top: 50px;
  transition: 0.5s;
}

.side_nav ul li {
  text-transform: uppercase;
  color: black;
  list-style: none;
  opacity: 100%;
  margin: 60px 0;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.side_nav ul a {
  color: #fdf8f5;
  text-decoration: none;
}

.menu_icon {
  width: 40px;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 2;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navBar"
      "sideBar"
      "main"
      "content1"
      "content2"
      "content3"
      "projects"
      "content4"
      "budgetDesc"
      "content5"
      "gisDesc"
      "content6"
      "diceDesc"
      "content7"
      "stripsDesc"
      "content8"
      "algorithmDesc"
      "content9"
      "logisimDesc"
      "content10"
      "raceDesc"
      "resumeButton"
      "contact-me"
      "footer";
  }

  #main {
    text-align: center;
    padding-right: 10%;
    padding-bottom: 35px;
  }

  #main h1,
  p {
    text-align: center;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
  }

  #contact-me {
    grid-area: contact-me;
    padding-left: 20%;
    padding-right: 20%;
  }

  #contact-me h1 {
    text-align: center;
  }

  #sideBar {
    grid-area: sideBar;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  #budgetDesc p {
    margin: auto;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #gisDesc p {
    margin: auto;
    width: 315px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #diceDesc p {
    margin: auto;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #stripsDesc p {
    margin: auto;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #algorithmDesc p {
    margin: auto;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #sideBar {
    display: flex;
  }

  #sideBar img {
    margin: auto;
  }

  #content1 {
    display: flex;
    justify-content: center;
  }

  #content2 {
    padding-left: 10%;
    padding-right: 10%;
  }

  #content2 li {
    list-style-type: square;
    padding-left: 25%;
    font-size: 18px;
  }

  #content3 {
    display: flex;
    justify-content: center;
    padding-right: 10%;
  }

  #content3 img {
    margin: auto;
    margin-bottom: 50px;
    animation: socialLoad 400ms;
  }

  @keyframes socialLoad {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }

  #resume {
    display: none;
  }

  #resume img {
    display: none;
  }

  .resumeBtn {
    display: flex;
    justify-content: center;
  }

  #resumeButton {
    border-color: #4f4846;
    color: white;
    border: 2px solid #4f4846;
    background-color: #4f4846;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 200ms;
  }

  #resumeButton:hover {
    background: #726866;
  }

  #footer p {
    text-align: center;
    padding-top: 5px;
  }
}
