@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #a3bcb6;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/******************************************/
.projectContainer {
  width: 550px;
  height: 600px;
  margin: 30px;
  background-color: #ebe8e1;
  border-radius: 15px;
}

.colordetect {
  height: 220px;
  margin-left: 15%;
}

.epidemicImg {
  height: 220px;
  margin-left: 15%;
}

.arcGis {
  height: 250px;
  margin-left: 20%;
}

.budgetApp {
  height: 220px;
  margin-left: 15%;
}

.floydWarshall {
  height: 220px;
  margin-left: 12%;
}

.logisim {
  height: 250px;
  margin-left: 23%;
  width: 300px;
}

.carGame {
  height: 250px;
  margin-left: 31%;
  width: 215px;
}

.projectContainer h3 {
  color: #555a57;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
}

.projectContainer h3 {
  background-color: #949c96;
  position: relative;
  transform: translateZ(0);
  transition: color 1000ms;
}

.projectContainer h3:before {
  content: "";
  background-color: #26c485;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0% 0%;
  transition-property: transform;
  transition: 300ms ease-out;
}
.projectContainer h3:hover:before {
  transform: scaleY(1);
}

.python1 {
  width: 35px;
  margin-left: 5%;
}

.python2 {
  width: 35px;
  margin-left: 5%;
}

.projectContainer p {
  color: #656b67;
  padding: 0px 20px;
  margin-top: 10px;
}

.gitHub {
  background-color: #04484f;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin-left: 35%;
}

.gitHub:hover {
  background-color: #232524;
  transition-duration: 500ms;
}

.tryIt {
  background-color: #26c485;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10%;
  margin-left: 12%;
}

.tryIt:hover {
  background-color: #197e55;
  transition-duration: 500ms;
}
/***************************************/

.menu-btn {
  position: fixed;
  display: flex;
  right: 25px;
  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.8);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before,
.menu-btn_hamburger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.8);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before {
  transform: translateY(-16px);
}

.menu-btn_hamburger::after {
  transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_hamburger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 1.2fr 0.6fr 1fr 3fr 0.3fr 1fr 1fr;
  gap: 0.1rem;
  color: #3c403d;
  text-rendering: optimizeLegibility;
  grid-template-areas:
    "navBar navBar navBar navBar"
    "sideBar main main main"
    "content1 content2 content2 content3"
    "projects projects projects projects"
    "content4 content4 content5 content5"
    ". .  . ."
    "content6 content6 content7 content7"
    ". . . ."
    "content8 content8 content9 content9"
    ". . . ."
    ". content10 content10 ."
    ". . . ."
    "resume resume resume resume"
    ". contact-me contact-me ."
    "footer footer footer footer";
}

#navBar,
#sideBar,
#main {
  background-image: url("websiteBackground.JPG");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: 70%;
  background-position-x: 30%;
  margin: -1px;
  background-size: cover;
  -webkit-background-size: 100%;
}

#contact-me {
  grid-area: contact-me;
  padding-top: 10%;
  padding-bottom: 10%;
}

#contact-me h1 {
  text-align: center;
  grid-area: contact-me;
  padding-top: 5%;
  color: #4f4846;
}

input[type="text"],
select,
textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid#266150;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #266150;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #adaeaf;
}

#navBar {
  grid-area: navBar;
  padding-top: 20px;
}

#navBar img {
  float: right;
  height: 50px;
  padding-right: 30px;
}

#sideBar {
  grid-area: sideBar;
  padding-bottom: 110px;
  padding-top: 10%;
  background-color: #a3bcb6;
}

#sideBar img {
  opacity: 0;
  float: right;
  height: 300px;
  border-radius: 5%;
  border-radius: 5%;
  /* box-shadow: 10px 10px #4f4846; */
  animation: picLoad 1s;
}

/*Learning how to use animations in CSS*/

@keyframes picLoad {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

#main {
  grid-area: main;
  background-color: #a3bcb6;
  color: white;
}

#main h1 {
  margin-left: 10%;
  margin-top: 9%;
  font-size: 35px;
}

#main p {
  margin-left: 10%;
  font-size: 25px;
}

.main p span.typed-text {
  font-weight: normal;
}

.main p span.cursor {
  display: inline-block;
  background-color: #3c403d;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.main p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

#content1 {
  grid-area: content1;
  background-color: #fdf8f5;
  margin: -10px;
}

#content1 h1 {
  float: right;
  padding-right: 30px;
}

#content2 {
  grid-area: content2;
  background-color: #fdf8f5;
  margin: -10px;
}

#content2 p {
  padding: 15px;
  font-size: 18px;
}

#content2 li {
  list-style: none;
  font-size: 18px;
  padding: 20px;
  padding-left: 15%;
  display: inline-block;
  width: 200px;
}

.pythonLogo {
  background-image: url("pythonLogo.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 40px;
}

.javaScriptLogo {
  background-image: url("javaScriptLogo.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 40px;
}

.JavaLogo {
  background-image: url("JavaLogo.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 40px;
}

.CsharpLogo {
  background-image: url("CsharpLogo.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 40px;
}

.mySQL {
  background-image: url("mySQL.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 40px;
}

.gitLogo {
  background-image: url("gitLogo.png");
  background-repeat: no-repeat;
  background-position: 5%;
  background-size: 40px;
}

#content9 {
  grid-area: content9;
  margin: auto;
}

#content10 {
  grid-area: content10;
  margin: auto;
}

#content3 {
  grid-area: content3;
  background-color: #fdf8f5;
  margin: -10px;
}

#content3 img {
  padding-left: 60px;
  display: block;
  height: 50px;
  margin-top: 40px;
  margin-left: 20px;
  opacity: 90%;
  border-radius: 1%;
  animation: socialLoad 500ms;
}

@keyframes socialLoad {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}

#projects {
  grid-area: projects;
  padding-top: 50px;
  padding-bottom: 20px;
}

#projects h1 {
  text-align: center;
}

#projects hr {
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  background-color: #ebe8e1;
  border: none;
  margin-top: -38px;
}

#contact-me hr {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  background-color: #ebe8e1;
  border: none;
  margin-top: -38px;
}

#content4 {
  grid-area: content4;
  display: flex;
  margin: auto;
}

#content4 button {
  background-image: url(/githubLogo.png);
  background-size: 30px;
  background-position: 1px;
  background-repeat: no-repeat;
}

@keyframes resume {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content3 {
  from {
    transform: translateX(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content4 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content5 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content6 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content7 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content8 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content9 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes content10 {
  from {
    transform: translateY(-50px);
    opacity: 0.75;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#content5 {
  grid-area: content5;
  display: flex;
  margin: auto;
}

#content6 {
  grid-area: content6;
  display: flex;
  margin: auto;
}

#content7 {
  grid-area: content7;
  display: flex;
  margin: auto;
}

#content8 {
  grid-area: content8;
  display: flex;
  margin: auto;
}

#content9 {
  grid-area: content9;
  display: flex;
  margin: auto;
}

#content10 {
  grid-area: content10;
  display: flex;
  margin: auto;
  margin-bottom: 10%;
}

#resume {
  grid-area: resume;
  display: flex;
  padding-top: 120px;
  background-color: #fdf8f5;
  padding-bottom: 120px;
  margin: -10px;
  justify-content: center;
}

#resume img {
  height: 700px;
  margin: 20px;
  margin: auto;
  border-radius: 1%;
  background-color: #4f4846;
  box-shadow: 10px 10px #266150;
}

#resume h1 {
  position: absolute;
  margin-top: -80px;
}

#footer {
  grid-area: footer;
}

#footer p {
  text-align: center;
  padding-top: 5px;
}

.side_nav {
  font-family: Calibre, "San Francisco", "SF Pro Text", Roboto, "Helvetica Neue",
    "Segoe UI", Arial, sans-serif;
  width: 200px;
  height: 100vh;
  position: fixed;
  right: -200px;
  top: 0px;
  background: #3c403d;
  z-index: 2;
  padding-top: 50px;
  transition: 0.5s;
}

.side_nav ul li {
  text-transform: uppercase;
  color: black;
  list-style: none;
  opacity: 100%;
  margin: 60px 0;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.side_nav ul a {
  color: #fdf8f5;
  text-decoration: none;
}

.menu_icon {
  width: 40px;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 2;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "navBar"
      "sideBar"
      "main"
      "content1"
      "content2"
      "content3"
      "projects"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8"
      "content9"
      "content10"
      "resume"
      "contact-me"
      "footer";
  }

  #navBar,
  #sideBar,
  #main {
    background-position-y: -80px;
    background-position-x: 15%;
  }

  #main h1 {
    font-size: 25px;
  }

  #main p {
    font-size: 20px;
  }

  .pythonLogo {
    background-image: url("pythonLogo.png");
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 40px;
  }

  .javaScriptLogo {
    background-image: url("javaScriptLogo.png");
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 40px;
  }

  .JavaLogo {
    background-image: url("JavaLogo.png");
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 40px;
  }

  .CsharpLogo {
    background-image: url("CsharpLogo.png");
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 40px;
  }

  .mySQL {
    background-image: url("mySQL.png");
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 40px;
  }

  .gitLogo {
    background-image: url("gitLogo.png");
    background-repeat: no-repeat;
    background-position: 45%;
    background-size: 40px;
  }

  @keyframes content3 {
    from {
      transform: translateY(-50px);
      opacity: 0.75;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  #contact-me hr {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    background-color: #ebe8e1;
    border: none;
    margin-top: -38px;
  }

  #projects hr {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    background-color: #ebe8e1;
    border: none;
    margin-top: -38px;
  }

  #main {
    text-align: center;
    padding-right: 10%;
    padding-bottom: 35px;
  }

  #main h1,
  p {
    text-align: center;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
  }

  #contact-me {
    grid-area: contact-me;
    padding-left: 20%;
    padding-right: 20%;
  }

  #contact-me h1 {
    text-align: center;
  }

  #sideBar {
    grid-area: sideBar;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  #sideBar {
    display: flex;
  }

  #sideBar img {
    margin: auto;
  }

  #content1 {
    display: flex;
    justify-content: center;
  }

  #content2 {
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
  }

  #content2 li {
    padding-left: 45%;
    font-size: 18px;
  }

  #content3 {
    display: flex;
    justify-content: center;
    padding-right: 10%;
  }

  #content3 img {
    margin: auto;
    margin-bottom: 50px;
    animation: socialLoad 400ms;
  }

  @keyframes socialLoad {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }

  #footer p {
    text-align: center;
    padding-top: 5px;
  }
}
